@charset "UTF-8";

.other-login {
  display: flex;
  flex-direction: column;
  margin-top: 2.7rem;
  width: 100%;


  img {
    margin: 0 auto;
    height: 6rem;
    width: 6rem;
    //background: #FFFFFF;
  }

  .agreement {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2.2rem;

    input[type="checkbox"] + label  {
      position: relative;
      font-size: 1.2rem;
      color: #FFFFFF;
      height: 1.7rem;
      line-height: 1.7rem;
      margin-left: 2rem;

    }

    input[type="checkbox"] + label::before {
      content: '';
      display: block;
      position: absolute;
      height: 1.4rem;
      width: 1.4rem;
      border-radius: .4rem;
      background: #FFFFFF;
      left: -1.4rem - .6rem;

      top: 50%;
      transform: translateY(-50%);
    }

    input[type="checkbox"]:checked + label::after {
      content: '';
      display: block;
      position: absolute;
      height: 1.4rem;
      width: 1.4rem;
      border-radius: .4rem;
      top: .1rem;
      left: -1.4rem - 0.5rem;
      background: url("../img/download.png") no-repeat;
      background-size: cover;
      background-color: transparent;
    }

    input[type="checkbox"] {
      display: none;
    }



    span {
      font-size: 1.2rem;
      height: 1.7rem;
      line-height: 1.7rem;
      color: #B4D9FC;
    }
  }

  .login-btn {
    margin-top: 1.4rem;
    height: 4.6rem;
    line-height: 4.6rem;
    font-size: 2rem;
    color: #FFFFFF;


  }



}