@charset "UTF-8";

.list-container {
  display: flex;
  flex-direction: column;
  padding: 0 1.2rem;
  padding-bottom: 2rem;

  header {
    padding: 1.5rem 0;

    .head-bk {
      width: 22.6rem;
      height: 4.3rem;
      line-height: 4.3rem;
      text-align: center;
      background: url("../../assets/bk.png") no-repeat;
      background-size: cover;
      margin: 0 auto;
      font-weight: bold;
      font-size: 2.4rem;
      color: #877878;
    }
  }


  .search {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    border-radius: .4rem;
    height: 3rem;

    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 3.7rem;
      text-align: center;
      img {
        height: 2rem;
        width: 2rem;
      }
    }

    input[type="text"] {
      padding-left: 1rem;
      flex: 1;
      font-size: 1.2rem;
      color: #AAAAAA;
      line-height: 3rem;

    }

    input::placeholder {
      color: #AAAAAA;
    }
  }

  .change-page {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .c-btn {
      width: 8.3rem;
      height: 2.3rem;
      line-height: 2.3rem;
      text-align: center;
      background: #FFFFFF;
      border-radius: .4rem;
      font-size: 1.2rem;
      font-weight: bold;
      color: #666666;
    }

    .page-num {
      font-size: 1.2rem;
      color: #FFFFFF;
      text-align: center;

    }


  }
}